*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 30px;
  color: #22262a;
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 760px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 270px;
  height: 350px;
  border: 3px solid #f6f7f8;
  border-radius: 4px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 2px;
    width: 85%;
    background-color: #f6f7f8;
  }
  &-title {
    font-size: 14px;
  }
  &-price {
    display: flex;
    justify-content: space-between;
    width: 87px;
    font-size: 16px;
    font-weight: normal;
    &__new {
      color: #ff4858;
    }
    &__old {
      color: #c1c8ce;
      text-decoration: #5d656b line-through;
    }
  }
}
