body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

h2 {
  color: blue;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}
